.btn {
  margin-top: 3px;
}

.centered {
  top: 0;
  left: 0;
  transform: translateX(50%) translateY(50%);
}

#SeriesMenu,
#BooksMenu,
#ChaptersMenu,
#PagesMenu,
#SentencesMenu,
#WordsMenu {
  display: none;
}

#wordsManualSection,
#sentencesManualSection,
#pagesManualSection,
#chaptersManualSection,
#booksManualSection {
  display: none;
}

#error {
  display: none;
}

.gradBonus,
.graduate,
.upgrade {
  display: none;
}

.activePerk {
  text-align: center;
  border: 1px dotted #000;
  padding: 20px;
  margin-bottom: 3%;
  margin-top: 3%;
}

.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: #000;
}

.progress-bar {
    transition: all 0.01s;
    -moz-transition: all 0.01s;
    -webkit-transition: all 0.01s;
}

.menuAlertGlyphicon,
.menuAlertTitle {
  font-size: 120%;
  margin-right: 8px;
}

.achieveicon {
	position: absolute;
	left: 25px;
	top: 30px;
  font-size: 60px;
}

.achievement {
  margin: 10px;
  padding: 10px;
  border: 1px dotted #000;
  border-radius: 15px;
  display: inline-block;
  width: 23%;
  cursor: move;
}

.achPlaceholder {
  opacity: 0.5;
}

.achievementWindow {
  position: absolute;
  top: 70%;
  left: -100%;
  width: 50%;
  height: 20%;
}

#tutorialWindow {
  position: absolute;
  width: 25%;
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 15px;
  opacity: 0.9;
  left: -100%;
}

#tutorialNext {
  position: absolute;
  right: 10px;
  top: 10px;
}

.gamestate {
	position: absolute;
	right: 25px;
}

.staff-stat {
  border: 1px solid #ddd;
  border-radius: 15px;
  background: #f1f1f1;
  height: 185px;
}

.staff-info {
  border-radius: 25px;
  background-color: #f4f4f4;
  text-align: center;
}

.staff-progressbar-text {
  font-style: italic;
}

.confirmpop {
  background-color: #f4f4f4;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  display: none;
  font-size: 18px;
  height: 140px;
  left: 50%;
  margin-left: -200px;
  margin-right: -70px;
  padding: 20px;
  position: fixed;
  top: 30%;
  text-align: center;
  width: 400px;
  z-index: 150;
}

.confirmpopopacity {
	background-color: #000;
	display: none;
	position: absolute;
	height: 100%;
  width: 100%;
	opacity: 0.5;
  top: 0;
  left: 0;
	z-index: 149;
}

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}
